version: '3.9'

services:
  db:
    image: postgres:17.0-alpine3.20
    container_name: gossage_db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: gossage
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./scripts/db_init.sql:/docker-entrypoint-initdb.d/init.sql # run db_init when in first build

    ports:
      - "5432:5432"

volumes:
  db-data:
